body{

    background-color: black;
}
.newsletter {
background: rgb(255, 255, 255);
background-size: cover;
padding: 100px 40px;
text-align: center;
margin-top: 20px;
margin-bottom: -50px;

}
.newsletter p{
 max-width: 600px;
 margin: 40px auto;
 font-size: 15px;
}

.newsletter h1 {
 font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    background-image: linear-gradient(#000000 , #686869);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.newsletter h1 span{
    background-image: linear-gradient(#36d1dc , #5b86e5);
background-clip: text;
-webkit-text-fill-color: transparent;
}
.newsletter .emailbox{
height: 40px;
display: flex;
justify-content: center;
}
.newsletter .emailbox i{
     background: rgb(255, 255, 255);
width: 50px;
line-height: 40px;
font-size: 30px;
color:  #5b86e5;
border-radius: 5px;
}
.tbox .emailbtn{
border: none;
outline: none;
}
.tbox{
width: 0px;
padding: 0;
transition: 0.8s;
}
.emailbtn{
    background-image: linear-gradient(#36d1dc , #5b86e5);
color: aliceblue;
padding: 3px 10px;
cursor: pointer;
width: 250px;
font-weight: 600;
letter-spacing: 2px;
font-size: 20px;
font-family: 'Poppins', sans-serif;
}
.emailbox:hover > .tbox , .tbox:focus{
width: 260px;
padding: 0 10px;
} 
/* *************************************************social icons************************* */
.social{
display: flex;
justify-content: space-between;
align-items: center;
}
.facebook , .instagram , .linkedin{
width: 60px;
height: 60px;
font-size: 40px;
font-weight: 600;
}

.social .facebook{
    color: #4267B2;   
}
.social .instagram{
   color: #e1306c;
}
.social .linkedin{
    color:#0072b1 ;
}
.social .lineend {
height: 6px;
background-image: linear-gradient(#36d1dc , #5b86e5);

width: 600px;
}
.social .linestart {
height: 6px;
background-image: linear-gradient(#36d1dc , #5b86e5);

width: 600px;
}

/* ******footer***** */
.footer{
max-width: 100vw;
background-image: linear-gradient(#36d1dc , #5b86e5);
height: 50px;
margin: 0 -10px 0 -10px;
display: flex;
justify-content: space-between;
}
.human{
display: flex;
justify-content: left;
align-items: center;
margin-left: 20px;

}
.logoend{
width: 85px;
height: 56px;
margin-top: 4px;
margin-bottom: 10px;
margin-right: -8px;

}
.human h3{
    font-family: 'Poppins', sans-serif;
     font-size: 14px;
    color: rgb(255, 255, 255);
}
.lasticons{
    display: flex; 
}
.startupcentre, .call, .address{

margin-right: 60px;
font-family: 'Poppins', sans-serif;
font-size: 14px;
color: rgb(255, 255, 255);

}
 .lasticons span{
display: flex;

} */

/* *******************sponsor******************* */
.sponsors{
   
height: 100px;
margin: auto;
overflow: hidden;
position: relative;
width: auto;
}
.sponsors .sponsor-slide{
animation: scroll 20s linear infinite;
display: flex;
width: calc(250px*14);
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*7));
    }
}
.sponsors .slide{
height: 100px;
width: 250px;
}
.sponsors h2{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#ecf4f5 , #f7f7f7);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
 
   

}
.sponsors h2 span{
    background-image: linear-gradient(#36d1dc , #5b86e5);
background-clip: text;
-webkit-text-fill-color: transparent;
    
}